.body {
  margin: 0;
  padding: 0;
}

header,
.left-sidebar,
main,
.right-sidebar,
footer {
  padding: "100px";
}

.parent {
  height: 100vh;
  display: grid;
  grid: auto 1fr auto / 100px 1fr 100px;
}
header {
  background-color: red;
  grid-column: 1 / 4;
  height: 2em;
}

.left-sidebar {
  background-color: green;
  color: white;
  grid-column: 1 / 2;
}
main {
  background-color: plum;
  grid-column: 2 / 3;
}
.right-sidebar {
  background-color: yellow;
  grid-column: 3 /4;
}
footer {
  background-color: blue;
  color: white;
  grid-column: 1 / 4;
  height: 2em;
}

@media (max-width: 768px) {
  .parent {
    grid: repeat(5, 1fr) / auto;
  }

  header,
  .left-sidebar,
  main,
  .right-sidebar,
  footer {
    grid-column: 1 / 2;
  }
  header,
  footer {
    height: auto;
  }
}
